<html>

<head>
	<title>Flatfile S3 Upload</title>
	<meta charset="UTF-8" />
	<script src="https://unpkg.com/flatfile-csv-importer/build/dist/index.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.0/papaparse.min.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
	<script>
		var signedRequest = <%- JSON.stringify(signedRequest) %>
		var url = <%- JSON.stringify(url) %>
		var license = <%- JSON.stringify(license) %>
	</script>
</head>

<body>
	<div id="main">
		<input type="button" id="launch" value="Import robots" />
		<div class="download">
			<a href="robots-clean.csv" target="_blank" rel="noopener noreferrer">
				Download a sample csv file here
			</a>
		</div>
		<textarea id="raw_output">Your S3 url will appear here.</textarea>
	</div>
	
	<script src="importer.js"></script>
	
</body>

</html>