body {
  background: #fff;
  color: #3c4151;
  font-family: 'Gotham Pro', Arial, serif;
}

.download {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.download a {
  color: #3c4151;
  text-decoration: none;
}

.download a:hover {
  color: #1d62b4;
}

#launch {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 96px 0 64px 0;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 0 64px;
  height: 44px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 15px;
  font-weight: 500;
  outline: 0;
  background-color: #4a90e2;
}

#launch:focus,
#launch:hover {
  background-color: #2171ce;
}

#launch:active {
  background-color: #1d62b4;
}

.output {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 64px;
  margin: 32px 0;
  border: 1px solid #c1c6d1;
  border-radius: 4px;
  font-family: 'Courier New', monospace;
  background-color: #3c4151;
  color: #fff;
  height: 200px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  margin: 32px 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2171ce;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4a90e2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2171ce;
}

input:checked + .slider:before {
  right: 4px;
  left: unset;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:after
{
 content:'Parsing config from Mongoose Schema';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-weight: bold;
 font-size: 10px;
}

input:checked + .slider:after
{  
  content:'Parsing config from MongoDB';
}