<html>

<head>
	<title>Flatfile Importer Generated from MongoDB Schema</title>
	<meta charset="UTF-8" />
	<script src="https://unpkg.com/flatfile-csv-importer/build/dist/index.min.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
	<script>
		const DB_config = <%- JSON.stringify(DB_config) %>
		const Schema_config = <%- JSON.stringify(Schema_config) %>
		Schema_config.fields = Schema_config.fields.map(field => {
			if (field.validators.length) {
				field.validators.forEach(v => {
					if (v.validate === 'regex_matches')
						v.regex = new RegExp(v.regex)
				})
			}
			return field
		})
		console.log(Schema_config)
		const license = <%- JSON.stringify(license) %>
	</script>
</head>

<body>
	<div id="main">
		<input type="button" id="launch" value="Import robots" />
		<div class="download">
			<a href="robots-clean.csv" target="_blank" rel="noopener noreferrer">
				Download a sample csv file here
			</a>
			<label class="switch">
				<input id="source-toggle" type="checkbox" checked>
				<span class="slider round"></span>
			</label>
		</div>
		<textarea class="output" id="config_output">Your generated config will appear here.</textarea>
		<textarea class="output" id="raw_output">Your handled data will appear here.</textarea>
	</div>
	
	<script src="importer.js"></script>
	
</body>

</html>